/* document_start CSS hiding */
.YzccNd, .M8OgIe, .vx3okc, .jNVrwb, .cLjAic, .ezO2md,
[jscontroller="MF9ugh"] { display: none !important; }
#tads, #tadsb, #bottomads,
.commercial-unit-desktop-top, .commercial-unit-desktop-rhs,
.ads-ad, .uEierd { display: none !important; }
.kVEXCb, .HwtpBd { display: none !important; }
